*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: #2f404d;
  color: #FFFFFF;
  padding: 30px;
  text-align: center;
}

header h1{
    transition: all .4s;
}

header h1:hover{
  transform: scale(1.03);
    cursor: pointer;
}

main{
  background-color: #85ebd9;
  padding: 50px 0px;
}

footer{
  background-color: #2f404d;
  color: #FFFFFF;
  padding: 30px;
  text-align: center;
}

.conversor{
  text-align: center;
  padding: 40px;
  width: 50%;
  background-color: #2f404d;
  color: #FFFFFF;
  border-radius: 10px;
  margin: auto;
}

.conversor input{
  border-radius: 5px;
  outline: none;
  border: 1px solid #2f404d;
}

.conversor label:not(first-child){
  margin-left: 20px;
}


.containerContent{
  display: flex;
  flex-direction: row;
  padding: 50px 20px 20px 20px;
}

.containerContent div{
  color: #FFFFFF;
  background-color: #3d898d;
  margin: 0px 30px;
  border-radius: 8px;
  padding: 20px;
}

.containerContent h2, p{
  margin-bottom: 20px;
  text-align:center;
}
