@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

header {
  background-color: #2f404d;
  color: #FFFFFF;
  padding: 4rem 0;
  text-align: center;
}

header h1 {
  transition: all .4s;
}

header h1:hover {
  transform: scale(1.03);
  letter-spacing: 0.8rem;
  cursor: pointer;
}

main {
  padding: 4rem 0;
  background-image: url(img/background.jpg);
  background-size: cover;
}


footer {
  background-color: #2f404d;
  color: #FFFFFF;
  text-align: center;
  padding: 30px 0px;
}

.conversor {
  text-align: center;
  padding: 60px 0px;
  width: 800px;
  margin: 0px auto 50px auto;
  color: #FFFFFF;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}

.conversor input {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
}

.conversor button {
  padding: 10px 30px;
  margin-top: 40px;
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
  font-weight: 900;
  cursor: pointer;
}
.conversor button:hover {
  background-color: rgb(203, 206, 206);
  transition: all 0.1s;
}
.conversor button:active {
  transform: scale(0.9);
}

.conversor>div {
  display: flex;
  justify-content: space-evenly;
}

.conversor>div>div {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.conversor input {
  letter-spacing: 0.1rem;
  font-size: 14px;
}

.conversor label {
  margin-bottom: 1.5vh;
}

.containerContent {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: auto;
  justify-content: space-around;
}

.containerContent>div {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  width: 30%;
}

.containerContent h2 {
  text-align: center;
}

.containerContent p {
  text-align: justify;
  margin: 20px 15px 0px;
}

@media screen and (max-width: 1200px) {
  .conversor {
    width: 80%;

  }

  .conversor>div {
    flex-direction: column;
    gap: 60px;
  }

  .conversor>div>div {
    margin: 0px 30px;
    gap: 10px;
  }

  .containerContent {
    flex-direction: column;
    gap: 60px;
    width: 100%;
  }

  .containerContent>div {
    width: 100%;
  }

}